[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "22.0.0"

[dev]
  command = "npm start"
  functions = "netlify/functions"
  publish = "public"
